@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap');

* {
  margin: 0;
  padding: 0;

  color: #fff;
  font-family: 'Roboto', sans-seriff;
}

.hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  overflow: hidden;
  background-color: black;
}

#nameContainer {
  font-weight: 900;
  font-size: 96px;
}

#infoContainer {
  border-left: 3px solid white;
  padding-left: 5px;
  margin-left: 20px;
}

#tempContainer {
  font-weight: 500;
  font-size: 68px;
}

#descContainer,
#hiloContainer {
  font-size: 36px;
}

#nameText {
  font-weight: 900;
  font-size: 96px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  border: none;
}

#nameSubmit {
  margin-top: 30px;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 27, 27, 0.65);
}